<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::Layout(~{::title},~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit notes</title>
</head>
<body>
    <section>
        <div class="container mt-2 ">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Edit your Notes</h3>
                        </div>
                        <div class="card-body ">
                            <form action="#" method="post">
                                <div class="mb-3">
                                    <label>Enter Title</label> <input type="text" name="title"
                                        class="form-control">
                                </div>
    
                                <div class="mb-3">
                                    <label>Enter Description</label> <textarea rows="6" cols="" name="description" class="form-control"></textarea>
                                </div>
    
                                <button class="btn btn-primary col-md-4"> Update</button>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                           <a href="addnotes" class="text-decoration-none">Take new note?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>